<p>
(english version below)
</p>

<p>
Beste ${player.givenName},
</p>

<p>
Deze vrijdag ${date} om ${time} spelen we een thuismatch tegen ${match.awayTeam.name}.
</p>

<p>
Sporten is gezond en goed voor de sociale vaardigheden. Dus, wat denk je ? Klik op de gepast link om in of uit te schrijven.
</p>

<p>
<a href="${yep}">Ik doe mee!</a>
</p>

<p>
<a href="${nope}">Ik kan helaas niet deze week</a>
</p>

<p>
Als je je nu niet in- of uitschrijft, krijg je binnenkort een nieuwe e-mail.
</p>

<p>
Cheerio!
</p>

<p>
Deze e-mail werd automatisch gegenereerd; je kan hier niet op antwoorden.
</p>

<hr/>

<p>
Dear ${player.givenName},
</p>

<p>
This Friday ${date} at ${time} we have a home game against ${match.awayTeam.name}.
</p>

<p>
Sport is good for your health and social skills. So, waddayou think ? Click on the appropriate link below to RSVP.
</p>

<p>
<a href="${yep}">I will be there!</a>
</p>

<p>
<a href="${nope}">Too bad, can't make it this week.</a>
</p>

<p>
If you click neither, you will shortly receive another email.
</p>

<p>
Cheerio!
</p>

<p>
This email was generated automatically. You can answer, but your answer will not reach human eyes.
</p>
