<div>
	<div class="headr">
		<span><%=title%></span>
	</div>
	<div class="mainn"
		<div class="pull-left"><img src="<%=preview%>"/></div>
		<div class="pull-right"><span><%=text%></span>
	<div class="footr">
		<span><%=author%></span>
		<span><%=fmtModified%></span>
	</div>
</div>