<% if ( "Draft" == status ){ %>
	<div class="header">
		<div class="pull-left">
			<span class="title"><%=title%></span>
			<span class="whisper">(Concept)</span>
		</div>
		<div class="pull-right">
		</div>
	</div>
	<div class="middle">
		<div class="pull-left">
			<span><%=text%></span>
		</div>
		<div class="pull-right">
			<button class="btn btn-primary btn-small btn-publish" data-publit="<%=id%>">publiceer</button>
		</div>
	</div>
	<div class="footer">
	</div>
<% } 
else { %>
	<div class="header">
		<div class="pull-left">
			<span class="title"><%=title%></span>
		</div>
		<div class="pull-right">
		</div>
	</div>
	<div class="sub">
	</div>
	<div class="middle">
		<div class="pull-left">
			<span><%=text%></span>
		</div>
		<div class="pull-right">
			<button class="btn btn-primary btn-small btn-publish-delete" data-publit="<%=id%>">delete</button>
		</div>
	</div>
<% } %>

