<?xml version="1.0" encoding="UTF-8"?>

<web-app
	version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>colloseum-soccer</display-name>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>colloseum-soccer.root</param-value>
	</context-param>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.properties</param-value>
	</context-param>
	
	<!-- Configure ContextLoaderListener to use AnnotationConfigWebApplicationContext
       instead of the default XmlWebApplicationContext -->
	  <context-param>
	      <param-name>contextClass</param-name>
	      <param-value>
	          org.springframework.web.context.support.AnnotationConfigWebApplicationContext
	      </param-value>
	  </context-param>

	  <!-- Configuration locations must consist of one or more comma- or space-delimited
	       fully-qualified @Configuration classes. Fully-qualified packages may also be
	       specified for component-scanning -->
	  <context-param>
	      <param-name>contextConfigLocation</param-name>
	      <param-value>be.occam.colloseum.soccer.application.web.config</param-value>
	  </context-param>
	  
	  <!-- first register log4j listener -->

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

  	<!-- Bootstrap the root application context as usual using ContextLoaderListener -->
  	<listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  	</listener>

	  <!-- Declare a Spring MVC DispatcherServlet as usual -->
	  <servlet>
	      <servlet-name>dispatcher</servlet-name>
	      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	      <init-param>
	          <param-name>contextClass</param-name>
	          <param-value>
	              org.springframework.web.context.support.AnnotationConfigWebApplicationContext
	          </param-value>
	      </init-param>
	      <!-- Again, config locations must consist of one or more comma- or space-delimited
	           and fully-qualified @Configuration classes -->
	      <init-param>
	          <param-name>contextConfigLocation</param-name>
	          <param-value>be.occam.colloseum.soccer.application.web.config.MvcConfig</param-value>
	      </init-param>
	  </servlet>

	  <!-- map all requests for /app/* to the dispatcher servlet -->
	  <servlet-mapping>
	      <servlet-name>dispatcher</servlet-name>
	      <url-pattern>/rs/*</url-pattern>
	  </servlet-mapping>
	
</web-app>
