<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  
  <title>Schedule</title>

  <link rel="stylesheet" href="css/calendar.css"/>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
</head>

<body>

	<div class="navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="./calendar.html">Schedule</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

	<div class="container">
	
    	<div class="row-fluid">
    
    		<div id="calendar" class="span12">

			    <div id="main">
			    
			    <br/>
			    
			      <table class="table table-striped table-bordered">
			      <thead>
			      	<tr>
			      		<th>Date</th>
			      		<th>Hosts</th>
			      		<th>Visitors</th>
			      		<th>Kick-Off</th>
			      		<th>Score</th>
			      	</tr>
			      </thead>
			      <tbody id="matches">
			      
			      </tbody>
			      </table>
			      
			    <footer>
			    </footer>
			
			  </div>
   	 		</div>
   	 	</div>
   	 </div>
  

  <script src="javascript/moment.min.js"></script>
  <script src="javascript/jquery-1.7.2.min.js"></script>
  <script src="javascript/underscore.js"></script>
  <script src="javascript/backbone.js"></script>
  
  <script type="text/javascript">
  	
  	var $jq = jQuery.noConflict();
  	
  </script>
  
  <script src="javascript/schedule.js"></script>

  <!-- Templates -->

  <script id="event-template" type="text/template" >
		<td><span><%=dx%></span></td>
		<td><span class="home"><%=homeTeam.name%></span></td>
		<td><span class="away"><%=awayTeam.name%></span></td>
		<td><span class="kick"><%=tx%></span></td>
		<td>
 		<% if ( ! isYetToCome ){ %>
			<span class="score badge"><%=homeTeamScore%>-<%=awayTeamScore%></span>
		<% } %>
		</td>
  </script>

  </body>
</html>