<% if ( "Draft" == status ){ %>
	<li class="media">
	    <div class="pull-left">
	    </div>
	    <div class="media-body">
	   	 	<h4 class="media-heading"><%=title%></h4>
	   	 	<p class="fnt">
	   	 		<textarea rows="3"></textarea>
	   	 	</p>
	   	 	<div class="pull-right">
	   	 		<div>
					<button class="btn btn-primary btn-publish" data-publit="<%=id%>">publiceer</button>
				</div>
				<div>
					<button class="btn btn-danger btn-publish-delete" data-publit="<%=id%>">verwijder</button>
				</div>
			</div>
			<div class="pull-right">
				
			</div>
		</div>
	</li>
<% } 
else { %>
 	<li class="media">
	    <span class="pull-left"></span>
	    <div class="media-body">
	   	 	<h4 class="media-heading"><%=title%></h4>
	   	 	<p>
	   	 		<%=text%>
	   	 	</p>
	   	 	<div class="pull-right axion hide">
				<div>
					<button class="btn btn-danger btn-publish-delete" data-publit="<%=id%>">verwijder</button>
				</div>
			</div>
			<div class="pull-right">
				
			</div>
		</div>
		</div>
	</li>
<% } %>

