		<td><span class="team"><%=team.name%></span></td>
		<td><span class="x"><%=played%></span></td>
		<td><span class="x"><%=won%></span></td>
		<td><span class="x"><%=lost%></span></td>
		<td><span class="x"><%=tied%></span></td>
		<td><span class="x"><%=scored%></span></td>
		<td><span class="x"><%=against%></span></td>
		<td><span class="label label-inverse"><%=points%></span></td>
